##############################################################
#
#  vmx.conf
#  Config file for vmx on the hypervisor.
#  Uses YAML syntax.
#  Leave a space after ":" to specify the parameter value.
#
##############################################################

---
#Configuration on the host side - management interface, VM images etc.
HOST:
    identifier                : {{item['vmx_name']}}
    host-management-interface : {{item['host_mgmt_int']}}
    routing-engine-image      : "/home/vmx/images/{{vmx_re_image}}"
    routing-engine-hdd        : "/home/vmx/images/{{vmx_re_hdd}}"
    forwarding-engine-image   : "/home/vmx/images/{{vmx_fpc_image}}"

---
  description          : "ge-0/0/2 interface"